# ignore video files in the /docs directory and sub-directories
docs/**/*.mp4
docs/**/*.avi
docs/**/*.mov
docs/**/*.mkv
docs/**/*.flv
docs/**/*.wmv
docs/**/*.mpeg
docs/**/*.mp3
docs/**/*.wav
docs/**/*.ogg
docs/**/*.flac
docs/**/*.aac
docs/**/*.opus